.dashcard {
  background: #6da77a;
  color: #f5f5dc;
  padding: 12px 24px;  
  margin: 15px;
  border-radius: 15px;
  width: fit-content;
  height: fit-content;
  opacity: 1;
  transition: opacity 1s cubic-bezier(1,0,1,-0.01)
}