.table {
  color: #0d4364;
}

.table_striped>tbody{
/*   color: #50577afc */
  color: #0d4364;
}

.icon_align{
  display: flex;
  align-items: center;
  justify-content: center;
/*   margin: 0 1%; */
/*   width: 20%; */
}

.box_item_modal{  
  background-color: #e7e2d1;
  padding: 20px;
  color: #3f4856;
  border-radius: 8px;
  /* width: fit-content; 
  margin: 0 auto; */
}

.fake_button {
  /* padding: 2px 2%; */
  margin: 0;
  background: none;
  border: none;
}

.fake_button svg {
  margin: 0 0;
}

.mark_to_delete {
  text-decoration: line-through;
  color: #f30e0e;
  background-color: #faa8a8;
}

.mark_to_delete:hover {
  text-decoration: line-through;
  color: #f30e0e;
  background-color: #faa8a8;
}

table>tbody>tr:hover {
  background-color: #dbddd8;
/*   background-color: #f5efb9; */
  transition: all .3s linear;
}

.delete_effect {
  opacity:0;
  transition:1s;
}

@media (max-width: 910px){
  col:nth-child(6) {
    visibility: collapse;
  } 
}