.nav_menu {
  margin: 5px calc(6% - 2vw);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 300px;
  height: 100%;
/*   background: #72727254;
  padding: 0 20px;
  border-radius: 8px;
  box-shadow: 0 0 4px 1px #979494; */
  font-size: 14px;
}

.nav_menu a {
  display: flex;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
  transition: 1s all ease;
  padding: 10px .5vw;
  /* font-size: calc(1vw - 46%); */
  /* font-size: clamp(51%, .8vw, 14px); */
  font-size: 1.2em;
  font-weight: bolder;
  text-shadow: 0 0 4px #0e0e0e;
  /* height: 100%; */
  font-family: Comfortaa;
  line-height: 1.2em; 
}

.nav_menu:hover a{
  filter: blur(.01em);
  text-shadow: none;
}

.nav_menu a:hover{
  text-shadow: 0 0 1px #525252;
  filter: none;
  color: #8c8989;
  font-weight: bolder;
  background-color: #fff;
/*   outline: 2px solid #d5ce90; */
/*   border-radius: 5px; */
}
