.nav_menu {
  margin: 5px calc(6% - 2vw);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 300px;
  height: 100%;
  font-size: 14px;
}

.nav_menu span, .nav_menu a {
  font-family: Comfortaa;
  color: #8c8b8b;
  font-size: 1.2em;
  line-height: 1.2em; 
  font-weight: bolder;
  text-shadow: 0 0 1px #8c8b8b
}

.nav_menu a {
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all .5s linear;
  padding: 8px 6px;  
}

.nav_menu:hover a{
  filter: blur(.01em);
}

.nav_menu a:hover{
  text-shadow: 0 0 1px #525252;
  color: #8c8989;
  font-weight: bolder;
  padding: 8px 10px;
  background: #f5efb9;
  border-radius: 4px;
}
